:root{
    --footer:#13183e;
    --fondo_main:#f7f7ff;
    --button_footer:#983fd3;
    --buttom_header:#12183d;
    --unico:#fe6754;
}
*{
    border: 0;
    margin: 0;
}
body{
    font-size: 62.5%;
}
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.header .titulo_header{
    font-size: 1.3rem;
}
.header .button-header{
    background-color: var(--buttom_header);
    color: #fff;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}
.main .main-description{
    width: 40%;
    margin: 30px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .main-description h2{
    font-size: 2.9rem;
    font-weight: bolder;
}
.main .main-description p{
    font-size: 1.4rem;
}
.main .main-description button{
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    width: 200px;
    background-color: var(--button_footer);
}
.principal{
    display: flex;
    justify-content: space-between;
}
.grillas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    background-color: var(--fondo_main);
    gap: 30px;  
     
}
.grillas .item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    border-radius: 25px;
}
.grillas .item a{
    text-decoration: none;
    color: var(--button_footer);
}
.item{
    font-size: 1.6rem;
    background-color: #fff;
}
.unico{
    background-color: var(--unico);
}
.footer{
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;;
}
.footer button{
    padding: 10px 40px;
    border-radius: 25px;
    background-color: var(--button_footer);
    color: #fff;
    background: linear-gradient(#983fd3 0px,#fe6754 50%);
}